{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    ["babel-plugin-styled-components", {
        "pure": true
    }]
  ],
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ]
}