pre,
code {
  font-family: var(--font-family-monospace) !important;
}

pre {
  margin: 0;
  padding: 1rem;
  display: inline-block;
  white-space: pre-wrap;
  border-radius: 0.33rem;
  border: 1px solid var(--code-block-border);
  background-color: var(--code-block-background);
  color: var(--code-block-foreground);
  line-height: 1.75rem;
}

.item-body p {
  margin: 0;
  padding: 0.4rem 0;
}

p code,
li code {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  line-height: 2rem;
  background-color: var(--post-inline-background);
  color: var(--post-inline-foreground);
}
a code {
  padding: 0;
  background-color: transparent;
  color: var(--post-link);
}

a code:hover {
  color: var(--post-link-hover);
}

.hljs-keyword {
  color: var(--blue);
}
.hljs-string {
  color: var(--pink);
}
.hljs-title {
  color: #ff8d00;
}
.hljs-params {
  color: #8b8b8b;
}
.hljs-number {
  color: #23b095;
}
.hljs-comment {
  color: #acacac;
  font-style: italic;
}
.hljs-built_in {
  color: var(--blue);
}
.hljs-literal {
  color: #9d97ff;
}
