.posts {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  transition: opacity 0.2s;
}

.posts.loading {
  opacity: 0.25;
}

.post {
  padding: 1rem;
  margin: 0 0 1rem 0;
  border-radius: 0.33rem;
  border: 2px solid lightgray;
  background-color: white;
}
.item-title {
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.item-edit {
  float: left;
  user-select: none;
  cursor: pointer;
  border-radius: 0.33rem;
  font-size: 1.25rem;
  padding: 0.2rem 0.3rem;
  margin-right: 0.75rem;
  font-weight: 100;
  transition: background-color 0.2s, color 0.2s;
}

.item-edit.note {
  background-color: var(--myblue);
  border: 2px solid rgb(35, 64, 151);
  color: rgb(35, 64, 151);
}
.item-edit.note:hover {
  background-color: rgb(60, 96, 209);
  color: white;
}

.item-edit.link {
  background-color: #00b894;
  border: 2px solid #006d57;
  color: #006d57;
}
.item-edit.link:hover {
  background-color: #009779;
  color: white;
}

.item-edit.diary {
  background-color: #ffb83c;
  border: 2px solid #ad7719;
  color: #ad7719;
}
.item-edit.diary:hover {
  background-color: #eba733;
  color: white;
}

.item-remove {
  float: right;
  user-select: none;
  cursor: pointer;
  border-radius: 0.33rem;
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  margin-left: 0.75rem;
  font-weight: 100;
  background-color: lightgray;
  border: 2px solid darkgray;
  color: darkgray;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.item-remove:hover {
  background-color: rgb(250, 20, 89);
  border-color: rgb(190, 17, 69);
  color: white;
}

.item-title-text {
  font-size: 1.6rem;
  line-height: 2rem;
}

.item-timestamp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(126, 126, 126);
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: normal;
}

.item-body {
  font-size: 1.25rem;
}

a.item-body {
  font-family: var(--font-family-monospace);
}

a.item-body,
a.item-body:visited {
  color: var(--pink);
}
a.item-body:hover {
  border-radius: 0.2rem;
  background-color: var(--pink);
  color: white;
}

.create-post-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66);
  padding: 6rem 10rem;
}

.create-post-dialog-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 0.33rem;
  border: 2px solid rgb(197, 197, 197);
  z-index: 999;
}

.create-post-button-container {
  display: flex;
  flex-direction: row;
}

input.create-post-title {
  font-size: 2rem;
  font-weight: bold;
}

textarea.create-post-body {
  font-size: 1.5rem;
  height: 500px;
}

input.create-post-title:focus,
textarea.create-post-body:focus {
  color: black;
}

input.create-post-title,
textarea.create-post-body {
  flex: 1;
  padding: 1rem;
}

.create-post-createbutton,
.create-post-cancelbutton {
  margin-right: 1rem;
  display: inline-block;
  padding: 0;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  transition: background-color 0.1s;
}

textarea.create-post-body {
  margin: 1rem 0;
}
