.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: opacity 0.2s;
}

.posts.loading {
  opacity: 0.25;
}

.posts:last-child {
  margin-bottom: 0;
}

.post {
  padding: 1rem;
  margin: 0 0 1rem 0;
  border-radius: 0.33rem;
  border: 2px solid lightgray;
  background-color: white;
}
.item-title {
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.item-edit {
  float: left;
  user-select: none;
  cursor: pointer;
  border-radius: 0.33rem;
  font-size: 1.25rem;
  padding: 0.2rem 0.3rem;
  margin-right: 0.75rem;
  font-weight: 100;
  transition: background-color 0.2s, color 0.2s;
}

.item-edit.note {
  background-color: var(--blue);
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}
.item-edit.note:hover {
  background-color: var(--medium-blue);
  color: white;
}

.item-edit.link {
  background-color: var(--green);
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
}
.item-edit.link:hover {
  background-color: var(--medium-green);
  color: white;
}

.item-edit.diary {
  background-color: var(--yellow);
  border: 2px solid var(--dark-yellow);
  color: var(--dark-yellow);
}
.item-edit.diary:hover {
  background-color: var(--medium-yellow);
  color: white;
}

.item-remove {
  float: right;
  user-select: none;
  cursor: pointer;
  border-radius: 0.33rem;
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  margin-left: 0.75rem;
  font-weight: 100;
  background-color: lightgray;
  border: 2px solid darkgray;
  color: darkgray;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.item-remove:hover {
  background-color: var(--red);
  border-color: var(--dark-red);
  color: white;
}

.item-title-text {
  font-size: 1.6rem;
  line-height: 2rem;
}

.item-timestamp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(126, 126, 126);
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: normal;
}

.item-body {
  font-size: 1.25rem;
}

a {
  font-family: var(--font-family-monospace);
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a,
a:visited {
  color: var(--pink);
}
a:hover {
  border-radius: 0.2rem;
  background-color: var(--pink);
  color: white;
}
