.core {
  display: flex;
  height: 100%;
}
.sidebar {
  width: 150px;
  padding: 1rem 0 0 1rem;
  background-color: var(--pink);
}
.sidebar-item {
  cursor: pointer;
  display: table;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(126, 14, 76);
  transition: color 0.1s;
}
.sidebar-item:hover {
  color: white;
}
.sidebar-item.active {
  cursor: not-allowed;
  color: rgb(255, 228, 75);
}

.content-area {
  padding: 0 1rem 1rem 1rem;
}

.post-dialog {
  display: none;
}
