.core {
  display: flex;
  height: 100%;
}
.sidebar {
  padding: 1rem 3rem 0 3rem;
  border-right: 1px solid rgb(197, 197, 197);
}
.sidebar-item {
  cursor: pointer;
  display: table;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  transition: color 0.1s;
}
.sidebar-item:hover {
  color: rgb(201, 201, 201);
}
.sidebar-item.active {
  cursor: not-allowed;
  color: var(--myblue);
}

.content-area {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  background-color: rgb(231, 231, 231);
}

.post-dialog{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding: 10%;
}

.dialog-content{
  background: white;
  box-shadow: 0 0 0 10000px rgba(255,255,255,0.8);
  padding: 20px;
  border: 1px solid rgb(197, 197, 197);
}