.create-post-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--create-post-shade);
  padding: 3rem 14rem;
  z-index: 1;
}

.create-post-dialog-content {
  display: flex;
  flex-direction: column;
  background: var(--create-post-background);
  padding: 1rem;
  border-radius: 0.33rem;
  border: 2px solid var(--create-post-border);
  z-index: 999;
}

.create-post-button-container {
  display: flex;
  flex-direction: row;
}

.type-switcher {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.type-switcher-item {
  position: relative;
  width: 30%;
}

.type-switcher-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.type-buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.generate-title-container {
  width: 30%;
}

.type-switcher-button {
  display: block;
  text-align: center;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  border-radius: 0.33rem;
  border: 2px solid var(--typeswitcher-border);
  color: var(--typeswitcher-foreground);
  user-select: none;
  font-family: var(--font-family-sans-serif-bold);
  line-height: 1.5rem;
  min-width: 2.375rem;
}

.type-switcher-input:checked + .type-switcher-button {
  z-index: 1;
  color: var(--typeswitcher-foreground-checked);
}

.type-switcher-input:checked + .type-switcher-button.note {
  border-color: var(--medium-blue);
  background: var(--blue);
}
.type-switcher-input:checked + .type-switcher-button.link {
  border-color: var(--medium-green);
  background: var(--green);
}
.type-switcher-input:checked + .type-switcher-button.diary {
  border-color: var(--dark-yellow);
  background: var(--yellow);
}

button.generate-title {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  display: inline-block;
  border: 2px solid var(--dark-purple);
  background-color: var(--purple);
  color: white;
}

button.generate-title .title {
  font-family: var(--font-family-sans-serif-bold);
  margin-right: 10px;
}

button.generate-title .icon {
  background-color: var(--dark-purple);
  padding: 0.33rem;
  font-weight: 100;
  border-radius: 3rem;
}

input.create-post-title {
  background: var(--input-background);
  font-family: var(--font-family-sans-serif-bold);
}

textarea.create-post-body {
  background: var(--input-background);
}

input.create-post-title::placeholder,
textarea.create-post-body::placeholder {
  color: var(--input-foreground);
}

input.create-post-title:disabled,
textarea.create-post-body:disabled {
  color: var(--input-foreground-disabled);
}

input.create-post-title:focus,
textarea.create-post-body:focus {
  color: var(--input-foreground-focus);
}

input.create-post-title,
textarea.create-post-body {
  flex: 1;
  padding: 1rem;
}

.create-post-createbutton,
.create-post-cancelbutton {
  margin-right: 1rem;
  display: inline-block;
  padding: 0 1rem;
  line-height: 2rem;
  font-family: var(--font-family-sans-serif-bold);
  transition: background-color 0.1s;
}

.create-post-createbutton {
  background-color: var(--blue);
  border: 2px solid var(--dark-blue);
  color: white;
}
.create-post-createbutton:hover {
  background-color: var(--medium-blue);
}
.create-post-createbutton:focus {
  box-shadow: 0 0 0 2px var(--create-post-background), 0 0 0 4px var(--input-background);
}

.create-post-cancelbutton {
  border: 2px solid var(--create-post-cancel-button-border);
  background-color: var(--create-post-cancel-button-background);
  color: var(--create-post-cancel-button-foreground);
}
.create-post-cancelbutton:hover {
  background-color: var(--create-post-cancel-button-background-hover);
}

textarea.create-post-body {
  margin: 1rem 0;
}
