:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "Fira Mono Medium", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: var(--font-family-sans-serif);
}

::selection {
  background: var(--pink);
  color: white;
}
::-moz-selection {
  background: var(--pink);
  color: white;
}

#app {
  display: flex;
  flex: 1;
  border-spacing: 0;
  transition: opacity 0.2s;
}

.container {
  display: contents;
}

.core {
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.button {
  cursor: pointer;
  user-select: none;
  min-width: 75px;
  height: 2.25rem;
  text-align: center;
  color: white;
  background-color: gray;
  border-radius: 0.33rem;
  border-width: 0;
  transition: background-color 0.1s;
}

input,
textarea {
  border-radius: 0.33rem;
  outline: 0;
  border: 2px solid lightgray;
}

input:focus,
textarea:focus {
  border-color: var(--blue);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1.75rem;
  text-indent: -1rem;
  margin: 1rem 0;
}

li:before {
  content: "• ";
  color: rgb(146, 146, 146); /* or whatever color you prefer */
}
