* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "Fira Mono Medium", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --sidebar-width: 144px;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  font-family: var(--font-family-sans-serif);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-foreground);
}
::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-foreground);
}

#app {
  display: flex;
  flex: 1;
  border-spacing: 0;
  transition: opacity 0.2s;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toast {
  position: fixed;
  width: 35%;
  padding: 1rem;
  margin: 1rem auto;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0.33rem;
  border: 2px solid var(--toast-border);
  background-color: var(--toast-background);
  color: var(--toast-foreground);
  font-weight: bold;
  text-align: center;
}
.toast.slide-in {
  animation-name: toast-slide-in;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

.toast.slide-out {
  animation-name: toast-slide-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.core {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  background-color: var(--page-background);
}

.button {
  cursor: pointer;
  user-select: none;
  min-width: 75px;
  height: 2.25rem;
  text-align: center;
  border-radius: 0.33rem;
  border: 2px solid var(--primary-button-border);
  background-color: var(--primary-button-background);
  color: var(--primary-button-foreground);
  transition: background-color 0.1s;
}

input,
textarea {
  border-radius: 0.33rem;
  outline: 0;
  border: 2px solid var(--input-border);
}

input:focus,
textarea:focus {
  border-color: var(--input-border-active);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1.75rem;
  text-indent: -1rem;
  margin: 1rem 0;
}

li:before {
  content: "• ";
  color: var(--post-body-bullet);
}
