.item {
  position: relative;
  border-radius: 0.5rem;
  border: 2px solid var(--lightgray);
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: white;
}

.item-title {
  width: 90%;
  margin-bottom: 1rem;
  font-size: 1.33rem;
  font-weight: bold;
  line-height: 1.7rem;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: 0;
  border-radius: 0.33rem;
  border: 2px solid white;
}

.item-title:hover {
  border-color: var(--palegray);
}

.item-title:focus {
  font-family: var(--font-family-monospace);
  outline: 0;
  border-color: var(--yellow);
}

.item-body {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  line-height: 1.55rem;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: 0;
  border-radius: 0.33rem;
  border: 2px solid white;
}

.item-body:hover {
  border-color: var(--palegray);
}

.item-body:focus {
  font-family: var(--font-family-monospace);
  outline: 0;
  border-color: var(--yellow);
}

.item-link {
  font-size: 1.33rem;
  line-height: 2rem;
}

.item-type {
  float: right;
  min-width: 95px;
  padding: 0.5rem 0;
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 2rem;
  opacity: 0.33;
}

.item-type.note {
  background-color: var(--myblue);
}
.item-type.link {
  background-color: var(--green);
}
.item-type.journal {
  background-color: var(--red);
}

.item-footer {
  display: flex;
  align-items: center;
}

.item-edit-delete {
  width: 50%;
  display: flex;
}

.item-edit-button {
  margin-right: 0.5rem;
  color: white;
  background-color: var(--lightindigo);
  border-bottom-color: var(--indigo);
}
.item-edit-button:hover {
  background-color: var(--indigo);
}

.item-delete-button {
  color: white;
  background-color: var(--lightred);
  border-bottom-color: var(--darkred);
}
.item-delete-button:hover {
  background-color: var(--red);
}

.item-nicetime {
  width: 50%;
  text-align: right;
  font-style: italic;
  color: var(--gray);
}
