.logo-container {
  cursor: pointer;
  width: var(--logo-width);
  height: 5rem;
}

.logo-stars-container {
  position: absolute;
  width: var(--logo-width);
  height: 5rem;
  border-bottom: 2px solid var(--toolbar-border);
  display: block;
  background-color: black;
}

.logo-stars {
  shape-rendering: crispEdges;
  width: var(--logo-width);
  height: 5rem;
}

.logo {
  width: var(--logo-width);
  height: 5rem;
  position: absolute;
  display: block;
  background-color: var(--toolbar-logo-background);
  border-bottom: 2px solid var(--toolbar-border);
  padding: 1rem;
  color: var(--toolbar-logo-foreground);
  text-align: center;
  transition: color 0.5s, text-shadow 0.6s, transform 0.35s;
  z-index: 1;
}

.logo-container:hover .logo {
  transform: translateX(-144px);
}

.logo-text {
  display: inline-block;
  font-family: var(--font-family-sans-serif-bold);
  font-variant: normal;
  font-size: 2.5rem;
}

.logo-text.loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}