.login-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.login-form-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px;
  background: #234096;
  border-radius: 0.33rem;
  border: 2px solid rgb(79, 119, 243);
  z-index: 5;
}

.login-form-content .username-input,
.login-form-content .password-input {
  flex: 1;
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #0a1b4b;
  background-color: hsla(225, 86%, 85%, 1);
}

.login-form-content .username-input::placeholder,
.login-form-content .password-input::placeholder {
  color: rgb(76, 93, 143);
}

.login-form-content .username-input:focus,
.login-form-content .password-input:focus {
  color: black;
}

.login-form-content .login-button {
  display: inline-block;
  padding: 0 1rem;
  height: 3rem;
  background-color: var(--blue);
  border: 2px solid rgb(13, 27, 70);
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  transition: background-color 0.1s;
}

.login-form-content .login-button:hover {
  background-color: var(--medium-blue);
}

.login-form-content.loading {
  filter: grayscale(1);
}

.login-form-content.loading .username-input,
.login-form-content.loading .password-input {
  opacity: 0.33;
}

.login-form-content.loading .button {
  cursor: not-allowed;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scroll {
  100% {
    background-position: 3000px 0px;
  }
}

@keyframes pulse {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.45;
  }
}
