.login-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--login-form-shade);
  z-index: 5;
}

.login-form-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px;
  background: var(--login-form-background);
  border-radius: 0.33rem;
  border: 2px solid var(--login-form-border);
}

.login-form-content .username-input,
.login-form-content .password-input {
  flex: 1;
  margin: 0 0 1rem 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid var(--login-form-input-border);
  background-color: var(--login-form-input-background);
}

.login-form-content .username-input::placeholder,
.login-form-content .password-input::placeholder {
  color: var(--login-form-input-foreground-placeholder);
}

.login-form-content .username-input:focus,
.login-form-content .password-input:focus {
  color: var(--login-form-foreground-focus);
}

.login-form-content .login-button {
  display: inline-block;
  padding: 0 1rem;
  height: 3rem;
  background-color: var(--login-form-button-background);
  border: 2px solid var(--login-form-button-border);
  color: var(--login-form-button-foreground);
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  transition: background-color 0.1s;
}

.login-form-content .login-button:hover {
  background-color: var(--login-form-button-background-hover);
}

.login-form-content.loading {
  filter: grayscale(1);
}

.login-form-content.loading .username-input,
.login-form-content.loading .password-input {
  opacity: 0.33;
}

.login-form-content.loading .button {
  cursor: not-allowed;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
