.logo-container {
  cursor: pointer;
  width: var(--sidebar-width);
  height: 5rem;
}

.logo-stars-container {
  position: absolute;
  width: var(--sidebar-width);
  height: 5rem;
  border-bottom: 2px solid var(--toolbar-logo-stars-border);
  display: block;
  background-color: black;
}

.logo-stars {
  shape-rendering: crispEdges;
  width: var(--sidebar-width);
  height: 5rem;
}

.logo {
  width: var(--sidebar-width);
  height: 5rem;
  position: absolute;
  display: block;
  background-color: var(--toolbar-logo-background);
  padding: 1rem;
  color: var(--toolbar-logo-foreground);
  text-align: center;
  transition: color 0.5s, text-shadow 0.6s, transform 0.35s;
  z-index: 1;
}

.logo-container:hover .logo {
  transform: translateX(-144px);
}

.logo-text {
  display: inline-block;
  font-family: var(--font-family-sans-serif-bold);
  font-variant: normal;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
