:root {
  --myblue: #5077f3;
  --lightred: rgb(239, 87, 119);
  --red: rgb(245, 59, 87);
  --lightindigo: rgb(87, 95, 207);
  --indigo: rgb(60, 64, 198);
  --lightgreen: rgb(11, 232, 129);
  --green: rgb(5, 196, 107);
  --lightblue: rgb(0, 216, 214);
  --blue: rgb(15, 188, 249);
  --yellow: rgb(255, 211, 42);
  --orange: rgb(255, 168, 1);
  --lightgray: rgb(210, 218, 226);
  --gray: rgb(128, 142, 155);
  --darkgray: rgb(72, 84, 96);
  --black: rgb(30, 39, 46);
}
