@media (max-width: 512px), (orientation: landscape) and (max-width: 1024px) {
  .login-form-content {
    left: 50%;
    width: 80%;
  }

  .sidebar-container {
    display: none;
  }

  .logo-container {
    display: none;
  }

  .toolbar-container {
    flex-direction: column;
    height: 9rem;
  }

  .search-bar-container {
    width: 100%;
  }
  
  .controls-container {
    width: 100%;
    justify-content: space-between;
  }

  .search-box-input {
    width: 100%;
    margin: 0;
  }

  .dark-mode {
    max-width: 120px;
  }
  .create-post {
    min-width: 30px;
  }
  .logout-button {
    min-width: 30px;
  }

  .create-post button .title {
    display: none;
  }

  .create-post-dialog {
    padding: 1rem;
  }

  .create-post-createbutton,
  .create-post-cancelbutton {
    width: 50%;
  }

  .type-switcher {
    display: flex;
    flex-direction: column;
  }

  .type-buttons {
    width: 100%;
  }

  .type-switcher-button {
    padding: 0.25rem 0;
  }

  .generate-title-container {
    margin-top: 1rem;
  }

  button.generate-title {
    height: 2rem;
    font-size: 1rem;
  }

  button.generate-title .icon {
    display: none;
  }

  .generate-title-container {
    width: 100%;
  }

  input.create-post-title,
  textarea.create-post-body {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .item-title-text,
  .item-body {
    font-size: 1rem;
  }

  .item-title-text {
    line-height: 1rem;
  }

  .item-timestamp {
    font-size: 0.45em;
  }
}
