.sidebar-container {
  display: inline-flex;
  width: var(--sidebar-width);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  padding: 1rem 0 0 0;
  user-select: none;
  background-color: var(--sidebar-background);
}

.sidebar-item {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--sidebar-link);
  transition: color 0.1s;
}
.sidebar-item:hover {
  color: var(--sidebar-link-hover);
}
.sidebar-item.active {
  cursor: not-allowed;
  color: var(--sidebar-link-active);
}
