.star-container {
  position: fixed;
  left: -4px;
  width: 1px;
  height: 1px;
  background-color: white !important;
  animation-name: fade-in, particleAnimation;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;
}

.star {
  position: relative;
  width: 1px;
  height: 1px;
}
.trail {
  position: absolute;
  display: block;
  right: 1px;
  top: 0px;
  height: 2px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes particleAnimation {
  from {
    /* left: -100px; */
    transform: translateX(-100px);
  }
  to {
    /* left: calc(100% + 100px); */
    transform: translateX(calc(100vw + 100px));
  }
}
