.star-container {
  position: fixed;
  transform: translateX(calc(100vw + 100px));
  left: -2px;
  width: 1px;
  height: 1px;
  background-color: white !important;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.star {
  position: relative;
  width: 1px;
  height: 1px;
}
.trail {
  position: absolute;
  display: block;
  left: 1px;
  top: 0px;
  height: 2px;
}
button.addStars{
  position: fixed;
  right: 5px;
  bottom: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes particleAnimation {
  from {
    transform: translateX(calc(100vw + 100px));
  }
  to {
    transform: translateX(-100px);
  }
}
