.toolbar {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--toolbar-background);
  padding: 0;
}

.toolbar-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;
  border-bottom: 2px solid var(--toolbar-border);
}

.search-bar-container {
  width: 60%;
}

.controls-container {
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.search-box-input {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--searchbar-background);
  outline: 0;
  border-radius: 0.33rem;
  border: 2px solid var(--searchbar-border);
  font-weight: bold;
  transition: border-color 0.2s;
}
.search-box-input:focus {
  border-color: var(--searchbar-border-active);
  background-color: var(--searchbar-background-active);
  color: var(--searchbar-foeground-active);
}
.search-box-input::placeholder {
  transition: color 0.2s;
  color: var(--searchbar-foreground);
}
.search-box-input:focus::placeholder {
  color: var(--searchbar-foreground-active);
}

.create-post {
  min-width: 150px;
  text-align: right;
  vertical-align: middle;
  margin: 0 1rem;
}
.create-post .button {
  width: 100%;
  height: 45px;
  display: inline-block;
  padding: 0;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  transition: background-color 0.1s;
}

.create-post .button:hover {
  background-color: var(--primary-button-background-hover);
}

.create-post .button:focus {
  background-color: var(--primary-button-background-hover);
  outline: 0;
}

.create-post .button .title {
  margin-right: 10px;
}

.create-post .button .icon {
  background-color: var(--primary-button-icon-background);
  padding: 0.33rem;
  font-weight: 100;
  border-radius: 3rem;
}

.logout-button {
  min-width: 150px;
  text-align: right;
  vertical-align: middle;
}

.logout-button button[hidden] {
  display: none;
}

.logout-button .button {
  width: 100%;
  height: 45px;
  display: inline-block;
  padding: 0;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  border: 2px solid var(--primary-button-border);
  background-color: var(--primary-button-background);
  color: var(--primary-button-foreground);
  transition: background-color 0.1s;
}

.logout-button .button:hover {
  background-color: var(--primary-button-background-hover);
}

.dark-mode {
  min-width: 150px;
  text-align: center;
  display: flex;
  padding: 0 1rem;
  align-content: space-between;
  align-items: center;
}
.dark-mode-toggle {
  width: 25px;
  height: 25px;
}

.dark-mode-label {
  margin-left: 0.5rem;
  font-weight: bold;
  color: var(--dark-mode-label-foreground);
}
