.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-bottom: 2px solid rgb(197, 197, 197);
}

.search-and-create {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.search-box-input {
  width: 65%;
  display: table-cell;
  padding: 0.75rem;
  background-color: rgb(248, 248, 248);
  outline: 0;
  border-radius: 0.33rem;
  border: 2px solid lightgrey;
  font-weight: bold;
  color: lightgrey;
  transition: border-color 0.2s;
}
.search-box-input:focus {
  background-color: rgb(255, 239, 247);
  border-color: var(--pink);
  color: var(--dark-pink);
}
.search-box-input::placeholder {
  transition: color 0.2s;
  color: lightgrey;
}
.search-box-input:focus::placeholder {
  color: var(--mediumer-pink);
}

.create-post {
  min-width: 150px;
  text-align: right;
  vertical-align: middle;
}
.create-post .button {
  width: 100%;
  height: 45px;
  display: inline-block;
  padding: 0;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  background-color: var(--pink);
  border: 2px solid var(--medium-pink);
  transition: background-color 0.1s;
}

.create-post .button:hover {
  background-color: var(--pink);
}

.create-post .button:focus {
  background-color: var(--pink);
  outline: 0;
}

.create-post .button .title {
  margin-right: 10px;
}

.create-post .button .icon {
  background-color: var(--mediumer-pink);
  padding: 0.33rem;
  font-weight: 100;
  border-radius: 3rem;
}
