.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 0;
  border-bottom: 2px solid rgb(197, 197, 197);
}

.search-and-create {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  flex: 1;
  display: table;
  text-align: center;
  justify-content: center;
}
.search-box-input {
  width: 50%;
  display: table-cell;
  padding: 0.75rem;
  background-color: rgb(248, 248, 248);
  outline: 0;
  border-radius: 0.33rem;
  border: 2px solid lightgrey;
  font-weight: bold;
  color: lightgrey;
  transition: border-color 0.2s;
}
.search-box-input:focus {
  background-color: rgb(255, 239, 247);
  border-color: var(--pink);
  color: rgb(70, 0, 49);
}
.search-box-input::placeholder {
  transition: color 0.2s;
  color: lightgrey;
}
.search-box-input:focus::placeholder {
  color: rgb(100, 7, 72);
}

.create-post {
  width: 200px;
  text-align: center;
  vertical-align: middle;
}
.create-post .button {
  width: 100%;
  height: 45px;
  display: inline-block;
  padding: 0;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  background-color: var(--pink);
  border: 2px solid rgb(197, 0, 108);
  transition: background-color 0.1s;
}

.create-post .button:hover {
  background-color: rgb(236, 0, 130);
}

.create-post .button:focus {
  background-color: rgb(236, 0, 130);
  outline: 0;
}

.create-post .button .title {
  margin-right: 10px;
}

.create-post .button .icon {
  background-color: rgb(197, 0, 108);
  padding: 0.33rem;
  font-weight: 100;
  border-radius: 3rem;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.create-post .button .icon {
  background-color: rgb(173, 0, 95);
}
