@import "./_palette.css";
@import "./_global.css";
@import "./_toolbar.css";
@import "./_core.css";

html {
  height: 100%;
}

body {
  overflow-y: overlay;
  min-height: 100%;
  font-family: var(--font-family-sans-serif);
  background-color: var(--palegray);
}

.container {
  height: 100vh;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: opacity 0.2s;
}

.container.loading {
  opacity: 0.2;
}
