@import "./_palette.css";
@import "./_global.css";
@import "./_toolbar.css";
@import "./_create-item-dialog.css";
@import "./_type-switcher.css";
@import "./_item-list.css";

body {
  font-family: var(--font-family-sans-serif);
  background-color: var(--palegray);
}

.container {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 1rem auto;
  transition: opacity 0.2s;
}

.container.loading {
  opacity: 0.2;
}
